/*
Form field design
*/

.required::after{
    content: "(*)";
    color: red;
}

input:required::after {
    content: "(*)";
    color: red;
}


input {
    border-radius: 0.3em;
    border: solid 1px rgb(128, 128, 128);
    padding: .5em;
}

